@font-face {
	font-family: 'PT Sans';
	src: url(../fonts/PT_Sans/PT_Sans-Web-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: 'PT Sans';
	src: url(../fonts/PT_Sans/PT_Sans-Web-Regular.ttf);
	font-weight: 400;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button:focus,
input:focus,
select:focus {
    outline: none;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
    transition: color .4s;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -ms-transition: color .4s;
    -o-transition: color .4s;
}

button {
    border: none;
    cursor: pointer;
}

html {
    font-size: 16px;
}

body {
    width: 100%;
    background-color: #fff;
    overflow-x: hidden;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 400;
    line-height: 19px;
    color: #4d4d4d;
    background-color: #fff;
}

.btn-white-border,
.btn-border-green {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border: .5vmin solid #fff;
    overflow: hidden;
    position: relative;
    display: inline-block;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.btn-white-border::after,
.btn-border-green::after {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -15px;
    right: -15px;
    background-color: #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.btn-white-border:hover {
    border-color: #85bd46;
    color: #85bd46;
}

.btn-white-border:hover::after {
    background-color: #85bd46;
}

.btn-border-green {
    border-color: #85bd46;
}

.btn-border-green:hover {
    border-color: #fff;
    color: #fff;
}

.btn-border-green::after {
    background-color: #85bd46;
}

.btn-border-green:hover::after {
    background-color: #fff;
}

.title-section {
    font-weight: 700;
    font-size: 3.6rem;
    color: #4d4d4d;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.title-page {
    font-weight: 700;
    font-size: 3.6rem;
    margin: 3.5vmin 0 3.8vmin;
    text-transform: uppercase;
    text-align: center;
}

/* style dots slick */
.slick-track {
    padding-bottom: 25px;
}

.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-top: 36px;
    cursor: pointer;
}

.slick-dots>li {
    background-color: #dedede;
    width: 12px;
    height: 12px;
    margin: 0 12px;
}

.slick-dots>li button {
    display: none;
}

.slick-dots>li.slick-active {
    background-color: #85bd46;
}

.slick-slide:focus {
    outline: none;
}

/* path-pages  */
.path-pages {
    background-color: #d8d5d0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2rem;
    padding: 22px 0;
    margin-top: 6px;
}

.path-pages a::after {
    content: '>';
    padding-left: 6px;
    color: #4d4d4d;
}

.path-pages a:hover {
    color: #85bd46;
}
/* path-pages  */


/* header */

#index .header {
    color: #fff;
    background: url(../image/header-banner.png) no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.logo {
    margin: 20px auto 0;
    display: block;
    width: 180px;
    text-align: center;
}

.logo>img {
    width: 100%;
}

.logo>span {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 4px;
}

.language {
    position: absolute;
    top: 80px;
    right: 25px;
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
}

.language > li {
    margin-left: 16px;
}

.language > li .active-language {
    color: #84be44;
}

.language > li:hover {
    color: #84be44;
}

.top-menu {
    font-size: 1.1rem;
    font-weight: 700;
    font-family: 'PT Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    margin-top: 30px;
}

.top-menu>li a {
    transition: color 0.4s;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -ms-transition: color 0.4s;
    -o-transition: color 0.4s;
}

.top-menu>li a:hover {
    color: #84be44;
}

.top-menu>li .menu-dropdown {
    color: #84be44;
    position: relative;
    cursor: pointer;
    position: relative;
}

.menu-dropdown ul {
    color: #4d4d4d;
    background-color: #fff;
    padding: 16px;
    position: absolute;
    top: 110%;
    left: -40%;
    z-index: 2;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .6);
    display: none;
    width: 180px;
    line-height: normal;
}

.menu-dropdown ul li{
    margin-bottom: 8px;
}

.menu-dropdown ul li:last-of-type{
    margin-bottom: 0;
}

.top-menu>li .menu-dropdown > img{
    width: 18px;
    margin-left: 4px;
}

.top-menu>li .menu-dropdown::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #84be44;
    position: absolute;
    bottom: -6px;
    left: 0;
}

.first-screen-index {
    width: 80%;
    margin: 13.1vmin auto 0;
    text-align: center;
}

.title-header {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}

.btn-interesting {
    font-size: 1.5rem;
    padding: 18px 50px;
    margin-top: 14vmin;
}

/* section-about-us  */

.section-about-us {
    background-color: #d8d5d0;
    padding: 75px 0;
}

.section-about-us__desc {
    text-align: center;
}

.section-about-us__desc>p {
    font-size: 1.875rem;
    line-height: normal;
    text-align: left;
}

.section-about-us__desc>p span {
    color: #85bd46;
}

.btn-details {
    margin-top: 28px;
    padding: 12px 24px;
    color: #85bd46;
}

.section-about-us__image {
    width: 100%;
    position: relative;
    margin-top: 10px;
}

.section-about-us__image>img {
    max-width: 100%;
    z-index: 1;
    position: relative;
}

.section-about-us__image::after {
    content: '';
    position: absolute;
    right: -25px;
    bottom: -25px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #242659, #2887bf);
}

/* section-events */

.section-events {
    padding: 40px 0 80px;
}

.event {
    width: 100%;
    font-family: 'PT Sans', sans-serif;
}

.event__img {
    width: 100%;
    position: relative;
}

.event__img>img {
    width: 100%;
    transition: transform 0.4s;
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    -o-transition: transform 0.4s;
}

.event:hover .event__img>img {
    transform: scale(1.08);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
}

.event__date {
    background-color: #85bd46;
    color: #fff;
    font-family: inherit;
    font-weight: 700;
    position: absolute;
    bottom: 15px;
    left: -15px;
    line-height: normal;
    padding: 4px 6px;
    text-align: center;
}

.event__date>span {
    font-size: 2.4rem;
    display: block;
}

.event__title {
    font-family: inherit;
    font-size: 1.2rem;
    margin: 20px 0;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    transition: color 0.4s;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -ms-transition: color 0.4s;
    -o-transition: color 0.4s;
}

.event__title:hover {
    color: #85bd46;
}

.event>p {
    line-height: normal;
    color: #999999;
}

.event__icons {
    display: flex;
    padding-top: 22px;
    margin-top: 22px;
    border-top: 1px solid #e5e5e5;
}

.event__icons-eye,
.event__icons-comment {
    display: flex;
    align-items: center;
    color: #999999;
}

.event__icons-eye>img {
    width: 30px;
    margin-right: 14px;
}

.event__icons-comment {
    margin-left: 28px;
}

.event__icons-comment>img {
    width: 24px;
    margin-right: 14px;
}

/* section-story-success */

.section-story-success {
    padding-bottom: 50px;
}

.story-success__desc {
    width: 90%;
    margin-left: 10%;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.8rem;
    line-height: normal;
}

.story-success__desc>p {
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #85bd46;
    margin-top: 40px;
}

.story-success__img {
    width: 100%;
    position: relative;
}

.story-success__img>img {
    width: 100%;
    position: relative;
    z-index: 1;
}

.story-success__img::after {
    content: '';
    position: absolute;
    right: -20px;
    bottom: -20px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #242659, #2887bf);
}

.story-success__info {
    font-size: 1.8rem;
    line-height: normal;
    margin-left: 20px;
}

.link-details {
    text-align: right;
    color: #85bd46;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    display: block;
    margin-top: 50px;
    position: relative;
}

.link-details>span {
    width: 50px;
    height: 5px;
    background-color: #85bd46;
    display: inline-block;
    margin-bottom: 6px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.link-details:hover>span {
    background-color: #4d4d4d;
}

/* .section-services */

.section-services {
    background-color: #d8d5d0;
    padding: 60px 0 140px;
}

.services {
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 3px 2px 8px rgba(0, 0, 0, .6);
}

.services__img {
    width: 38%;
    overflow: hidden;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services__img > img {
    width: auto;
    height: 100%;
    transition: transform .4s;
    -webkit-transition: transform .4s;
    -moz-transition: transform .4s;
    -ms-transition: transform .4s;
    -o-transition: transform .4s;
}

.services__img:hover img {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
}

.services__info {
    width: 60%;
    padding: 10px 2.4vmin;
    position: relative;
}

.services__info > h4 {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2.6vmin;
}

.services__info > p {
    font-size: 1.3rem;
    font-family: 'PT Sans', sans-serif;
    height: 36%;
    overflow: hidden;
    line-height: 22px;
}

.services__info a {
    position: absolute;
    bottom: 20px;
    right: 2.4vmin;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.3rem;
    text-align: right;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}

.services__info a:hover {
    color: #85bd46;
}

/* section footer */

.footer {
    padding: 65px 0 75px;
    background-color: #033e6f;
    color: #fff;
}

.footer-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.9rem;
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 28px;
}

.call-us,
.footer-menu {
    font-size: 1.5rem;
    font-family: 'PT Sans', sans-serif;
}

.call-us > li {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.call-us > li img {
    width: 3.4vmin;
    margin-right: 10px;
}

.footer-menu {
    text-transform: uppercase;
    line-height: normal;
}

.footer-menu > li {
    margin-bottom: 14px;
}

.footer-menu > li a:hover {
    color: #84be44;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link > li {
    margin: 0 10px;
}

.social-link svg {
    width: 48px;
    transition: fill .4s;
    -webkit-transition: fill .4s;
    -moz-transition: fill .4s;
    -ms-transition: fill .4s;
    -o-transition: fill .4s;
}

.social-link svg:hover {
    fill: #85bd46;
}

.footer-text {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    margin-top: 26px;
}

/* page about-us */
.about-us {
    width: 100%;
    margin-bottom: 11vmin;
}

.about-us > p {
    font-size: 1.5rem;
    line-height: normal;
    padding: 0 3.64vw;
}

.about-us > p span {
    color: #85bd46;
}

.about-us > img {
    width: 100%;
    margin-top: 36px;
}

@media only screen and (max-width: 1599px) {

    .section-about-us__desc>p {
        font-size: 1.8rem;
    }

    .story-success__info {
        font-size: 1.7rem;
    }

    .story-success__desc>p {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 1199.8px) {
    .section-about-us {
        padding: 40px 0;
    }

    .title-section {
        font-size: 2.25rem;
        margin-bottom: 20px;
    }

    .title-page {
        font-size: 2.6rem;
    }

    .section-about-us__desc>p {
        font-size: 1.375rem;
    }

    .event__date {
        font-size: 0.8rem;
    }    

    .event__date>span {
        font-size: 1.8rem;
    }

    .story-success__desc {
        width: 100%;
        margin-left: 0;
        font-size: 1.375rem;
    }

    .story-success__info {
        font-size: 1.4rem;
    }

    .link-details {
        font-size: 1.3rem;
    }

    .link-details>span {
        width: 40px;
        height: 3px;
    }

    .section-services {
        padding: 40px 0 80px;
    }

    .services__img {
        width: 38%;
        height: 170px;
    }

    .services__info > h4 {
        font-size: 1.25rem;
        margin-bottom: 12px;
    }

    .services__info > p {
        font-size: 1.125rem;
        height: 36%;
        line-height: 18px;
    }

    .services__info a {
        bottom: 16px;
        font-size: 1.125rem;
    }

    .footer {
        padding: 35px 0 45px;
    }

    .footer-title {
        font-size: 1.375rem;
        margin-bottom: 20px;
    }

    .call-us, .footer-menu {
        font-size: 1.125rem;
    }

    .social-link svg {
        width: 38px;
    }

    .footer-text {
        font-size: 1rem;
        margin-top: 26px;
    }
}

@media only screen and (max-width: 991.8px) {
    html {
        font-size: 14px;
    }

    .top-menu {
        font-size: .9rem;
        justify-content: space-between;
    }

    .menu-dropdown ul {
        width: 150px;
    }
    .section-about-us__image::after {
        bottom: -15px;
        right: -15px;
    }

    .section-events {
        padding: 30px 0 40px;
    }

    .event {
        margin-bottom: 20px;
    }

    .event__icons {
        padding-top: 16px;
        margin-top: 16px;
    }

    .story-success__desc>p {
        font-size: 1.6rem;
    }
    .slick-dots {
        margin-top: 0;
    }

    .services {
        flex-flow: column;
    }

    .services__img,
    .services__info {
        width: 100%;
    }

    .services__img {
        height: 160px;
        margin-bottom: 10px;
    }

    .services__img > img {
        width: 100%;
        height: auto;
    }

    .services__info {
        padding-bottom: 55px;
    }

    .services__info > h4 {
        font-size: 1.125rem;
    }

    .footer-title {
        text-align: center;
    }

    .call-us > li {
        justify-content: center;
    }

    .footer-menu{
        text-align: center;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 767.8px) {
    .logo {
        margin: 20px 0 0;
        width: 100px;
    }

    .logo>img {
        width: 75px;
    }

    .logo>span {
        font-size: 1rem;
        margin-top: 0;
    }

    .language {
        top: 36px;
        right: 86px;
    }

    .header .header-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /*button menu*/
    .menu-btn{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background: #fff;
        position: relative;
        cursor: pointer;
    }
    .menu-btn span,
    .menu-btn span::before,
    .menu-btn span::after{
        display: block;
        position: absolute;
        top: 50%; margin-top: -1px;
        left: 50%; margin-left: -13px;
        width: 26px;
        height: 2px;
        background-color: #222;
    }
    .menu-btn span::before,
    .menu-btn span::after{
        content: '';
        display: block;
        transition: 0.3s;
    }
    .menu-btn span::before{
        transform: translateY(-5px);
    }
    .menu-btn span::after{
        transform: translateY(5px);
    }
    .menu-btn_active span{
        height: 0;
    }
    .menu-btn_active span:before {
        transform: rotate(-42deg);
    }
    .menu-btn_active span:after {
        transform: rotate(42deg);
    }
    /*button menu*/

    .top-menu {
            position: absolute;
            top: 100%;
            display: none;
            right: 0;
            width: 100%;
            background-color: #fff;
            color: #000;
            text-align: center;
            height: calc(100vh - 89px);
            z-index: 10;
            overflow: scroll;
            margin-top: 0;
            font-size: 1.25rem;
            padding: 26px 0;
    }

    .top-menu > li {
        margin: 18px 0;
    }

    .menu-dropdown ul {
        position: static;
        width: 100%;
        box-shadow: none;
        font-size: 14px;
        color: #696969;
    }

    .top-menu>li .menu-dropdown::after {
        width: 0;
    }

    #index .header {
        height: auto;
    }

    .first-screen-index {
        width: 100%;
        margin: 13.1vmin 0;
    }

    .title-header {
        font-size: 2.6rem;
    }

    .title-section {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }

    .section-about-us__image {
        width: 90%;
        position: relative;
        margin: 10px auto 20px;
    }

    .event {
        width: 90%;
        margin: 0 auto 20px;
    }

    .story-success__img {
        width: 250px;
        margin: auto;
    }

    .story-success__info {
        margin-left: 0;
        font-size: 1.3rem;
        margin-top: 12px;
    }

    .call-us > li img {
        width: 20px;
    }

    .footer-title {
        font-size: 1.3rem;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 575.8px) {
    .services {
        width: 280px;
        margin: 0 auto 20px;
    }

    .services__info {
        padding: 0 25px 55px 25px;
    }

    .services__info a {
        right: 35px;
    }
}

@media only screen and (min-width: 1600px) {
    html {
        font-size: 20px;
    }
    .container {
        max-width: 1560px;
    }
    .logo {
        width: 200px;
    }
    .logo>span {
        font-size: 1.6rem;
    }
    .title-header {
        font-size: 5rem;
    }

    .services__img {
        height: 290px;
    }

    .services__info > p {
        line-height: normal;
    }

    .about-us > p {
        font-size: 2rem;
    }
}