@font-face {
	font-family: 'PT Sans';
	src: url(../fonts/PT_Sans/PT_Sans-Web-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: 'PT Sans';
	src: url(../fonts/PT_Sans/PT_Sans-Web-Regular.ttf);
	font-weight: 400;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button:focus,
input:focus,
select:focus {
    outline: none;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
    transition: color .4s;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -ms-transition: color .4s;
    -o-transition: color .4s;
}

button {
    border: none;
    cursor: pointer;
}

html {
    font-size: 16px;
}

body {
    width: 100%;
    background-color: #fff;
    overflow-x: hidden;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 400;
    line-height: 19px;
    color: #4d4d4d;
    background-color: #fff;
}

main {
    min-height: 62vh;
}

.btn-white-border,
.btn-border-green {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border: .5vmin solid #fff;
    overflow: hidden;
    position: relative;
    display: inline-block;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.btn-white-border::after,
.btn-border-green::after {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -15px;
    right: -15px;
    background-color: #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.btn-white-border:hover {
    border-color: #85bd46;
    color: #85bd46;
}

.btn-white-border:hover::after {
    background-color: #85bd46;
}

.btn-border-green {
    border-color: #85bd46;
}

.btn-border-green:hover {
    border-color: #fff;
    color: #fff;
}

.btn-border-green::after {
    background-color: #85bd46;
}

.btn-border-green:hover::after {
    background-color: #fff;
}

.title-section {
    font-weight: 700;
    font-size: 2.2rem;
    color: #4d4d4d;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.title-page {
    font-weight: 700;
    font-size: 2.4rem;
    margin: 3.5vmin 0 3.8vmin;
    text-transform: uppercase;
    text-align: center;
}

/* style dots slick */
.slick-track {
    padding-bottom: 25px;
}

.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-top: 36px;
    cursor: pointer;
}

.slick-dots>li {
    background-color: #dedede;
    width: 12px;
    height: 12px;
    margin: 0 12px;
}

.slick-dots>li button {
    display: none;
}

.slick-dots>li.slick-active {
    background-color: #85bd46;
}

.slick-slide:focus {
    outline: none;
}

/* path-pages  */
.path-pages {
    background-color: #d8d5d0;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 0.9rem;
    padding: 10px 0;
    margin-top: 0.5vmin;
}

.path-pages a {
    font-weight: 700;
}

.path-pages a::after {
    content: '/';
    padding-left: 6px;
    color: #4d4d4d;
}

.path-pages a:hover {
    color: #85bd46;
}
/* path-pages  */


/* pagination */
.pagination {
    margin:  6.67vmin 0;
}

.page-link {
    background-color: #eeeeee;
    height: 100%;
    text-align: center;
    margin: 0 4px;
    border: none;
    line-height: normal;
    color: #5d5d5d;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.page-item:last-child .page-link,
.page-item:first-child .page-link {
     border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.page-item:last-child .page-link:hover,
.page-item:first-child .page-link:hover {
    background-color: #85bd46;
}

.page-link.prev,
.page-link.next {
    background-image: url(../icons/left-arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 60px;
    background-size: 50% 60%;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.page-link.next {
    background-image: url(../icons/right-arrow.svg);
}

.page-link:hover.prev {
    background-image: url(../icons/left-arrow-white.svg);
}

.page-link:hover.next {
    background-image: url(../icons/right-arrow-white.svg)
}

.page-item.disabled .page-link {
    background-color: #eeeeee;
}

.page-item.disabled .page-link.prev {
    background-image: url(../icons/left-arrow-white.svg);
}

.page-item.disabled .page-link.next {
    background-image: url(../icons/right-arrow-white.svg)
}

.page-link.active {
    color: #fff;
    background-color: #033e6f;
}

.page-link:hover {
    color: #fff;
    background-color: #033e6f;
}

/* pagination the end */

/* header */

#index .header {
    color: #fff;
    background: url(../image/header-banner.png) no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.logo {
    margin: 20px auto 0;
    display: block;
    width: 180px;
    text-align: center;
}

.logo>img {
    width: 100%;
}

.logo>span {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 4px;
}

.language {
    position: absolute;
    top: 80px;
    right: 25px;
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
}

.language > li {
    margin-left: 16px;
}

.language > li .active-language {
    color: #84be44;
}

.language > li:hover {
    color: #84be44;
}

.top-menu {
    font-size: 1.1rem;
    font-weight: 700;
    font-family: 'PT Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    margin-top: 30px;
}

.top-menu>li a {
    transition: color 0.4s;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -ms-transition: color 0.4s;
    -o-transition: color 0.4s;
}

.top-menu>li a:hover {
    color: #84be44;
}

.top-menu>li .menu-dropdown {
    color: #84be44;
    position: relative;
    cursor: pointer;
    position: relative;
}

.menu-dropdown ul {
    color: #4d4d4d;
    background-color: #fff;
    padding: 16px;
    position: absolute;
    top: 110%;
    left: 50%;
    margin-left: -90px;
    z-index: 2;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .6);
    display: none;
    min-width: 180px;
    line-height: normal;
    text-transform: none;
}

.menu-dropdown ul li{
    margin-bottom: 8px;
}

.menu-dropdown ul li:last-of-type{
    margin-bottom: 0;
}

.top-menu>li .menu-dropdown > img{
    width: 18px;
    margin-left: 4px;
}

.top-menu>li .menu-dropdown::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #84be44;
    position: absolute;
    bottom: -0.5vmin;
    left: 0;
}

.fixed-header.sticky {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #d8d5d0;
    z-index: 100;
    padding-bottom: 1.6vmin;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
    -webkit-animation: move .4s;
    animation: move .4s;
    transition: .4s ease;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -ms-transition: .4s ease;
    -o-transition: .4s ease;
}

@keyframes move {
    from {
        top: -130px;
      }
      to { 
        top: 0; 
      }  
}

.fixed-header.sticky .logo {
    margin: 8px auto 0;
}

.fixed-header.sticky .logo>img {
    width: 40%;
}

.fixed-header.sticky .logo>span {
    font-size: 0.7rem;
    display: block;
    margin-top: 0;
}

.fixed-header.sticky .top-menu {
    margin-top: 1.6vmin;
}

.fixed-header.sticky .language {
    top: 34px;
}

.first-screen-index {
    width: 80%;
    margin: 13.1vmin auto 0;
    text-align: center;
}

.title-header {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}

.btn-interesting {
    font-size: 1.5rem;
    padding: 18px 50px;
    margin-top: 14vmin;
}

/* section-about-us  */

.section-about-us {
    background-color: #d8d5d0;
    padding: 75px 0;
}

.section-about-us__desc {
    text-align: center;
}

.section-about-us__desc>p {
    font-size: 1.3rem;
    line-height: normal;
    text-align: left;
}

.section-about-us__desc>p a {
    color: #85bd46;
}

.section-about-us__desc>p a:hover {
    text-decoration: underline;
}

.btn-details {
    margin-top: 28px;
    padding: 12px 24px;
    color: #85bd46;
}

.section-about-us__image {
    width: 100%;
    position: relative;
    margin-top: 10px;
}

.section-about-us__image>img {
    max-width: 100%;
    z-index: 1;
    position: relative;
}

.section-about-us__image::after {
    content: '';
    position: absolute;
    right: -25px;
    bottom: -25px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #242659, #2887bf);
}

/* section-events */

.section-events {
    padding: 40px 0 80px;
}

.event {
    width: 100%;
    font-family: 'PT Sans', sans-serif;
}

.event__img {
    width: 100%;
    position: relative;
}

.event__img>img {
    width: 100%;
    transition: transform 0.4s;
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    -o-transition: transform 0.4s;
}

.event:hover .event__img>img {
    transform: scale(1.08);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
}

.event__date {
    background-color: #85bd46;
    color: #fff;
    font-family: inherit;
    font-weight: 700;
    position: absolute;
    bottom: 15px;
    left: -15px;
    line-height: normal;
    padding: 4px 6px;
    text-align: center;
}

.event__date>span {
    font-size: 2.4rem;
    display: block;
}

.event__title {
    font-family: inherit;
    font-size: 1.2rem;
    margin: 20px 0;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    transition: color 0.4s;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -ms-transition: color 0.4s;
    -o-transition: color 0.4s;
}

.event__title:hover {
    color: #85bd46;
}

.event>p {
    line-height: normal;
    color: #999999;
}

.event__icons {
    display: flex;
    padding-top: 22px;
    margin-top: 22px;
    border-top: 1px solid #e5e5e5;
}

.event__icons-eye,
.event__icons-comment {
    display: flex;
    align-items: center;
    color: #999999;
}

.event__icons-eye>img {
    width: 30px;
    margin-right: 14px;
}

.event__icons-comment {
    margin-left: 28px;
}

.event__icons-comment>img {
    width: 24px;
    margin-right: 14px;
}

/* section-story-success */

.section-story-success {
    padding-bottom: 50px;
}

.story-success__desc {
    width: 90%;
    margin-left: 10%;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.3rem;
    line-height: normal;
}

.story-success__desc>p {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #85bd46;
    margin-top: 40px;
}

.story-success__img {
    width: 100%;
    position: relative;
}

.story-success__img>img {
    width: 100%;
    position: relative;
    z-index: 1;
}

.story-success__img::after {
    content: '';
    position: absolute;
    right: -20px;
    bottom: -20px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #242659, #2887bf);
}

.story-success__info {
    font-size: 1.3rem;
    line-height: normal;
    margin-left: 20px;
}

.link-details {
    text-align: right;
    color: #85bd46;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    display: block;
    margin-top: 50px;
    position: relative;
}

.link-details>span {
    width: 44px;
    height: 4px;
    background-color: #85bd46;
    display: inline-block;
    margin-bottom: 6px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.link-details:hover>span {
    background-color: #4d4d4d;
}

/* .section-services */

.section-services {
    background-color: #d8d5d0;
    padding: 60px 0 140px;
}

.services {
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 3px 2px 8px rgba(0, 0, 0, .6);
}

.services__img {
    width: 38%;
    overflow: hidden;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services__img > img {
    width: auto;
    height: 100%;
    transition: transform .4s;
    -webkit-transition: transform .4s;
    -moz-transition: transform .4s;
    -ms-transition: transform .4s;
    -o-transition: transform .4s;
}

.services__img:hover img {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
}

.services__info {
    width: 60%;
    padding: 10px 2.4vmin;
    position: relative;
}

.services__info > h4 {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2.6vmin;
}

.services__info > p {
    font-size: 1.2rem;
    font-family: 'PT Sans', sans-serif;
    height: 36%;
    overflow: hidden;
    line-height: 22px;
}

.services__info a {
    position: absolute;
    bottom: 20px;
    right: 2.4vmin;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2rem;
    text-align: right;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}

.services__info a:hover {
    color: #85bd46;
}

/* section footer */

.footer {
    padding: 65px 0 75px;
    background-color: #033e6f;
    color: #fff;
}

.footer-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 28px;
}

.call-us,
.footer-menu {
    font-size: 1.2rem;
    font-family: 'PT Sans', sans-serif;
    line-height: normal;
}

.call-us > li {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.call-us > li img {
    width: 3vmin;
    margin-right: 22px;
}

.footer-menu {
    text-transform: uppercase;
}

.footer-menu > li {
    margin-bottom: 14px;
}

.footer-menu > li a:hover {
    color: #84be44;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link > li {
    margin: 0 10px;
}

.social-link svg {
    width: 36px;
    transition: fill .4s;
    -webkit-transition: fill .4s;
    -moz-transition: fill .4s;
    -ms-transition: fill .4s;
    -o-transition: fill .4s;
}

.social-link svg:hover {
    fill: #85bd46;
}

.footer-text {
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    margin-top: 26px;
}

/* page about-us */
.about-us {
    width: 100%;
    margin-bottom: 11vmin;
}

.about-us > p {
    font-size: 1.5rem;
    line-height: normal;
    padding: 0 3.64vw;
    text-align: justify;
}

.about-us > p a {
    color: #85bd46;
}

.about-us > img {
    width: 100%;
    margin-top: 36px;
}

/* page article */

.open-article {
    font-family: 'PT Sans', sans-serif;
}

.open-article__img {
    width: 100%;
    margin: 34px 0;
    position: relative;
}

.open-article__img img {
    width: 100%;
}

.open-article__title {
    position: absolute;
    right: 0;
    bottom: 4px;
    background-color: rgba(161, 195, 118, .8);
    color: #fff;
    padding: 2.8vmin 3.5vw;
    font-weight: 700;
    width: 70%;
}

.event-date__start,
.event-date__finish {
    position: absolute;
    left: -20px;
    background-color: #85bd46;
    color: #fff;
    font-size: 1.2rem;
    padding: 8px 12px;
    line-height: normal;
    font-weight: 700;
}

.event-date__start>span,
.event-date__finish>span {
    font-size: 1.5rem;
    padding-left: 12px;
}

.event-date__start {
    top: 20px;
}

.event-date__finish {
    top: 85px;
    left: -10px;
}

.open-article-category {
    color: #84be44;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-bottom: 3.3vmin;
    display: inline-block;
}

.open-article h3 {
    font-family: inherit;
    padding-bottom: 3.3vmin;
}

.open-article p {
    line-height: normal;
    padding-bottom: 3.3vmin;
    font-family: inherit;
}

.open-article ul {
    line-height: normal;
    font-family: inherit;
}

.open-article .social-link {
    justify-content: flex-end;
    margin-bottom: 70px;
    color: #85bd46;
    font-weight: 700;
    font-family: inherit;
}

.open-article .social-link li a > svg {
    fill: #5d5d5d;
    width: 2.8vmin;
}

.open-article .social-link li a > svg:hover {
    fill: #85bd46;
}

/* page coaches */
.coaches {
    padding-bottom: 10.16vmin;
}

.coach {
    box-shadow: 0 0 16px rgba(0, 0, 0, .21);
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 30px;
}

.coach__img {
    width: 100%;
    height: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coach__img:hover >img {
    transform: scale(1.08);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
}

.coach__img > img {
    width: 100%;
    transition: transform .4s;
    -webkit-transition: transform .4s;
    -moz-transition: transform .4s;
    -ms-transition: transform .4s;
    -o-transition: transform .4s;
}

.coach__body {
    padding: 0 30px;
    margin: 24px 0;
    height: 148px;
    overflow: hidden;
    text-align: center;
    line-height: normal;
}

.coach__body h3{
    font-family: inherit;
    font-weight: 700;
    color: #84be44;
    margin-bottom: 2.9vmin;
}

.coach__body p {
    font-size: 1.2rem;
    font-family: inherit;
}

.coach__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 36px 30px;
}

.coach__footer a {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    transition: padding .4s;
    -webkit-transition: padding .4s;
    -moz-transition: padding .4s;
    -ms-transition: padding .4s;
    -o-transition: padding .4s;
}

.coach__footer a:hover {
    color: #85bd46;
    padding-left: 36px;
}

.coach__footer a::before {
    content: '';
    width: 0;
    height: 2px;
    background-color: #85bd46;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 0;
    transition: width .2s ;
    -webkit-transition: width .2s ;
    -moz-transition: width .2s ;
    -ms-transition: width .2s ;
    -o-transition: width .2s ;
}

.coach__footer a:hover::before {
    width: 30px;
}

/* page story-success */
.storySuccess {
    box-shadow: 0 2px 7px rgba(0, 0, 0, .55);
    margin-bottom: 30px;
}

.storySuccess__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 260px;
    overflow: hidden;
}

.storySuccess__img:hover > img {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.storySuccess__img > img {
    width: auto;
    height: 100%;
    transition: transform .3s;
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -ms-transition: transform .3s;
    -o-transition: transform .3s;
}

.storySuccess__desc {
    padding: 0 3.2vmin 0 1.8vmin;
    font-family: 'PT Sans', sans-serif;
}

.storySuccess__desc > h4 {
    font-family: inherit;
    color: #85bd46;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2.66vmin;
}

.storySuccess__desc > h4 span {
    text-transform: none;
}

.storySuccess__desc > p {
    font-size: 1.3rem;
    line-height: normal;
    height: 136px;
    overflow: hidden;
}

.storySuccess__desc>a {
    display: block;
    text-align: right;
    margin-top: 2.66vmin;
    font-size: 1.1rem;
    font-family: inherit;
    font-weight: 700;
    color: #85bd46;
    position: relative;
    transition: color .2s;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    -o-transition: color .2s;
}

.storySuccess__desc>a::before {
    content: '';
    width: 30px;
    height: 3px;
    background-color: #85bd46;
    position: absolute;
    top: 50%;
    margin-top: -1.5px;
    margin-left: -40px;
    transition: background-color .2s;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    -o-transition: background-color .2s;
}

.storySuccess__desc>a:hover {
    color: #4d4d4d;
}

.storySuccess__desc>a:hover::before {
    background-color: #4d4d4d;
}

/* page open-story-success */
.open-story-success {
    padding: 5.84vmin 0 7.2vmin;
}

.open-story-success__img {
    width: 42.58vmin;
    margin-right: 45px;
    margin-bottom: 25px;
    position: relative;
    float: left;
}

.open-story-success__img > img {
    width: 100%;
    z-index: 2;
    position: relative;
}

.open-story-success__img::after {
    content: '';
    position: absolute;
    right: -20px;
    bottom: -20px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #242659, #2887bf);
}

.open-story-success{
    font-family: 'PT Sans', sans-serif;
    line-height: normal;
}

.open-story-success>h3 {
    margin-bottom: 3.75vmin;
    text-transform: uppercase;
    font-weight: 700;
}

.open-story-success>p{
    margin-bottom: 16px;
    font-size: 1.3rem;
    line-height: normal;
    font-family: inherit;
}

/* page events */

.events-menu {
    background-color: #d8d5d0;
    margin-bottom: 20px;
    margin-top: -10px;
}

.second-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}

.second-menu li {
    margin: 0 35px;
}

.second-menu li a {
    padding: 10px 0;
    display: inline-block;
}

.second-menu li a:hover {
   color: #85bd46;
}

.second-menu li a.active {
    position: relative;
}

.second-menu li a.active::after {
    content: '';
    border-bottom: 2px solid #85bd46;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.events .event {
    margin-bottom: 30px;
}

/* page target-groups */

.target-groups {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .55);
    margin-bottom: 7.5vmin;
    font-family: 'PT Sans', sans-serif;
}

.target-groups .accordion .accordion-items {
    border-bottom: 1px solid #b8b8b8;
    padding: 16px 40px;
    position: relative;
    cursor: pointer;
}

.target-groups .accordion .accordion-items:last-of-type {
    border: none;
}

.target-groups .accordion .accordion-items .arrow-down {
    position: absolute;
    top: 12px;
    right: 40px;
    width: 40px;
    height: 40px;
    background-image: url(../icons/arrow-down.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80% 80%;
}

.target-groups .accordion .accordion-items.open .arrow-down {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.target-groups .accordion .accordion-items h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6rem;
    width: 90%;
    cursor: pointer;
}

.target-groups .accordion .accordion-items article {
    margin: 16px 0;
    display: none;
}

.target-groups .accordion .accordion-items article p {
    line-height: normal;
    margin-bottom: 14px;
}

.target-groups .accordion .accordion-items article ol {
    list-style-type: decimal;
    list-style-position: inside;
}

.target-groups .accordion .accordion-items article ol li {
    margin-bottom: 12px;
}

@media only screen and (max-width: 1199.8px) {
    .section-about-us {
        padding: 40px 0;
    }

    .title-section {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .title-page {
        font-size: 2.2rem;
    }

    .section-about-us__desc>p {
        font-size: 1.175rem;
    }

    .event__date {
        font-size: 0.8rem;
    }    

    .event__date>span {
        font-size: 1.8rem;
    }

    .story-success__desc {
        width: 100%;
        margin-left: 0;
    }

    .story-success__info {
        font-size: 1.2rem;
    }

    .link-details {
        font-size: 1.2rem;
    }

    .link-details>span {
        width: 40px;
        height: 3px;
    }

    .section-services {
        padding: 40px 0 80px;
    }

    .services__img {
        width: 38%;
        height: 170px;
    }

    .services__info > h4 {
        font-size: 1.15rem;
        margin-bottom: 12px;
    }

    .services__info > p {
        font-size: 1.125rem;
        height: 36%;
        line-height: 18px;
    }

    .services__info a {
        bottom: 16px;
        font-size: 1.125rem;
    }

    .footer {
        padding: 35px 0 45px;
    }

    .footer-title {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .call-us, .footer-menu {
        font-size: 1.125rem;
    }

    .social-link svg {
        width: 32px;
    }

    .footer-text {
        margin-top: 26px;
    }
    
    .open-article__title {
        width: auto;
    }
    
    .coach__body {
        padding: 0 20px;
        margin: 18px 0;
        height: 138px;
    }
    
    .coach__body h3{
        margin-bottom: 2.7vmin;
    }
    
    .coach__footer {
        padding: 0 20px 26px 20px;
    }

    .storySuccess__img {
        height: 236px;
    }

    .storySuccess__desc {
        padding: 0 3.2vmin 0 0;
    }

    .storySuccess__desc > h4 {
        margin-bottom: 16px;
    }

    .storySuccess__desc > p {
        height: 106px;
    }

    .open-story-success__img {
        width: 30.58vmin;
    }
    
    .target-groups .accordion .accordion-items {
        padding: 12px 26px;
    }
    
    .target-groups .accordion .accordion-items .arrow-down {
        right: 30px;
        width: 30px;
        height: 30px;
    }
    
    .target-groups .accordion .accordion-items h2 {
        font-size: 1.4rem;
    }
    
    .target-groups .accordion .accordion-items article {
        margin: 10px 0;
    }
    
    .target-groups .accordion .accordion-items article p {
        margin-bottom: 12px;
    }
    
    .target-groups .accordion .accordion-items article ol li {
        margin-bottom: 10px;
    }
    
}

@media only screen and (max-width: 991.8px) {
    html {
        font-size: 14px;
    }

    .logo>img {
        width: 130px;
    }

    .logo>span {
        font-size: 1.2rem;
        margin-top: 0;
    }

    .language {
        top: 74px;
    }

    .top-menu {
        font-size: 1rem;
        justify-content: space-between;
    }

    .top-menu>li .menu-dropdown > img {
        width: 13px;
    }

    .top-menu>li .menu-dropdown::after {
        height: 1px;
    }

    .menu-dropdown ul {
        width: 150px;
    }
    .section-about-us__image::after {
        bottom: -15px;
        right: -15px;
    }

    .section-events {
        padding: 30px 0 40px;
    }

    .event {
        margin-bottom: 20px;
    }

    .event__icons {
        padding-top: 16px;
        margin-top: 16px;
    }

    .story-success__desc>p {
        font-size: 1.4rem;
    }
    .slick-dots {
        margin-top: 0;
    }

    .services {
        flex-flow: column;
    }

    .services__img,
    .services__info {
        width: 100%;
    }

    .services__img {
        height: 160px;
        margin-bottom: 10px;
    }

    .services__img > img {
        width: 100%;
        height: auto;
    }

    .services__info {
        padding-bottom: 55px;
    }

    .services__info > h4 {
        font-size: 1.125rem;
    }

    .footer-title {
        text-align: center;
    }

    .call-us > li {
        justify-content: center;
    }

    .footer-menu{
        text-align: center;
        margin-bottom: 20px;
    }

    .open-article__title {
        padding: 1.8vmin 3.5vmin;
    }

    .event-date__start, .event-date__finish {
        padding: 4px 12px;
    }

    .event-date__start>span, .event-date__finish>span {
        font-size: 1.3rem;
    }

    .event-date__finish {
        top: 70px;
    }

    .open-article p,
    .open-article ul {
        font-size: 1.15rem;
    }

    .coach__body {
        padding: 0 16px;
        margin: 14px 0;
        height: 118px;
    }
    .coach__footer a {
        font-size: 1.2rem;
    }

    .storySuccess__img {
        height: 220px;
    }

    .storySuccess__desc > p {
        height: 120px;
        font-size: 1.1rem;
    }

    .open-story-success>h3 {
        margin-bottom: 12px;
    }

    .second-menu {
        font-size: 0.9rem;
    }

    .second-menu li {
        margin: 0 20px;
    }
}

@media only screen and (max-width: 767.8px) {
    .logo {
        margin: 20px 0 0;
        width: 100px;
    }

    .logo>img {
        width: 75px;
    }

    .logo>span {
        font-size: 1rem;
        margin-top: 0;
    }

    .language {
        top: 36px;
        right: 86px;
    }

    .header .header-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .fixed-header.sticky {
        padding-bottom: 0;
    }
    
    .fixed-header.sticky .logo {
        margin: 8px 0 0;
    }
    
    .fixed-header.sticky .logo>img {
        width: 40%;
    }
    
    .fixed-header.sticky .logo>span {
        font-size: 0.7rem;
        display: block;
        margin-top: 0;
    }
    
    .fixed-header.sticky .top-menu {
        margin-top: 0;
    }
    
    .fixed-header.sticky .language {
        top: 20px;
    }

    /*button menu*/
    .menu-btn{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background: #fff;
        position: relative;
        cursor: pointer;
    }
    .menu-btn span,
    .menu-btn span::before,
    .menu-btn span::after{
        display: block;
        position: absolute;
        top: 50%; margin-top: -1px;
        left: 50%; margin-left: -13px;
        width: 26px;
        height: 2px;
        background-color: #222;
    }
    .menu-btn span::before,
    .menu-btn span::after{
        content: '';
        display: block;
        transition: 0.3s;
    }
    .menu-btn span::before{
        transform: translateY(-5px);
    }
    .menu-btn span::after{
        transform: translateY(5px);
    }
    .menu-btn_active span{
        height: 0;
    }
    .menu-btn_active span:before {
        transform: rotate(-42deg);
    }
    .menu-btn_active span:after {
        transform: rotate(42deg);
    }
    /*button menu*/

    .top-menu {
            position: absolute;
            top: 100%;
            display: none;
            right: 0;
            width: 100%;
            background-color: #fff;
            color: #000;
            text-align: center;
            height: calc(100vh - 89px);
            z-index: 10;
            overflow: scroll;
            margin-top: 0;
            font-size: 1.25rem;
            padding: 26px 0;
    }

    .top-menu > li {
        margin: 18px 0;
    }

    .menu-dropdown ul {
        position: static;
        width: 100%;
        box-shadow: none;
        font-size: 14px;
        color: #696969;
        margin-left: 0;
    }

    .top-menu>li .menu-dropdown::after {
        width: 0;
    }

    #index .header {
        height: auto;
    }

    .first-screen-index {
        width: 100%;
        margin: 13.1vmin 0;
    }

    .title-header {
        font-size: 2.6rem;
    }

    .title-section {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }

    .section-about-us__image {
        width: 90%;
        position: relative;
        margin: 10px auto 20px;
    }

    .event {
        width: 90%;
        margin: 0 auto 20px;
    }

    .story-success__img {
        width: 250px;
        margin: auto;
    }

    .story-success__info {
        margin-left: 0;
        margin-top: 12px;
    }

    .call-us > li img {
        width: 20px;
        margin-right: 16px;
    }

    .footer-title {
        margin-top: 20px;
    }

    .open-article__img {
        margin: 20px 0;
    }

    .open-article__title {
        position: static;
        margin-top: 3vmin;
    }

    .open-article .social-link li a > svg {
        width: 16px;
    }

    .storySuccess__img {
        height: 226px;
    }

    .storySuccess__desc > p {
        height: 100px;
    }

    .storySuccess__desc > h4{
        margin-bottom: 10px;
    }

    .storySuccess__desc > h4 span {
        display: block;
    }

    .storySuccess .col-12.col-sm-7.col-md-8.col-lg-9 {
        padding-left: 0;
    }

    .second-menu li {
        margin: 0 12px;
    }

    .target-groups .accordion .accordion-items {
        padding: 12px 18px;
    }
    
    .target-groups .accordion .accordion-items .arrow-down {
        right: 12px;
        width: 26px;
        height: 26px;
    }

    .target-groups .accordion .accordion-items h2 {
        font-size: 1.2rem;
    }
    
    .target-groups .accordion .accordion-items article p {
        margin-bottom: 10px;
    }
    
    .target-groups .accordion .accordion-items article ol li {
        margin-bottom: 8px;
    }
}

@media only screen and (max-width: 575.8px) {
    .services {
        width: 280px;
        margin: 0 auto 20px;
    }

    .services__info {
        padding: 0 25px 55px 25px;
    }

    .services__info a {
        right: 35px;
    }

    .coach {
        width: 340px;
        margin: 0 auto 20px;
    }

    .coach__img {
        height: auto;
    }

    .storySuccess .col-12.col-sm-7.col-md-8.col-lg-9 {
        padding-left: 15px;
    }

    .storySuccess__img{
        height: auto;
        width: 290px;
        margin: 20px auto 0;
    }

    .storySuccess__img > img {
        width: 100%;
        height: auto;
    }

    .storySuccess__desc {
        padding: 20px;
    }

    .storySuccess__desc > h4 span {
        display: inline-block;
    }

    .storySuccess__desc > p {
        height: auto;
    }

    .open-story-success__img {
        width: 290px;
        float: none;
        margin: 0 auto 25px;
    }
    .open-story-success>h3 {
        text-align: center;
    }

    .second-menu {
        font-size: 0.7rem;
    }

    .second-menu li {
        margin: 0 6px;
    }

    .second-menu li a {
        padding: 6px 0;
    }

    .target-groups .accordion .accordion-items h2 {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 400px) {
    .coach {
        width: 100%;
    }
}

@media only screen and (max-width: 375px) {
    .page-link.prev, .page-link.next {
        width: 34px;
    }

    .page-item:last-child .page-link {
        margin-right: 0;
    }

    .open-story-success__img {
        width: 260px;
    }

    .second-menu {
        font-size: 0.6rem;
    }

    .second-menu li {
        margin: 0px 5px;
    }

}

@media only screen and (max-width: 320px) {
    .storySuccess__img{
        height: auto;
        width: 100%;
        margin: 0 auto 0;
    }
}

@media only screen and (min-width: 1600px) {
    html {
        font-size: 20px;
    }
    .container {
        max-width: 1560px;
    }
    .logo {
        width: 200px;
    }
    .logo>span {
        font-size: 1.6rem;
    }
    .title-header {
        font-size: 5rem;
    }

    .services__img {
        height: 290px;
    }

    .services__info > p {
        line-height: normal;
    }

    .about-us > p {
        font-size: 2rem;
    }
    .storySuccess__img {
        height: 380px;
    }
    .storySuccess__desc > p {
        height: 174px;
    }
}