@font-face {
	font-family: 'Myriad Pro';
	src: url('MyriadPro-Regular.eot');
	src: local('Myriad Pro Regular'), local('MyriadPro-Regular'),
		url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('MyriadPro-Regular.woff') format('woff'),
		url('MyriadPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('MyriadPro-LightSemiCn.eot');
	src: local('Myriad Pro Light SemiCondensed'), local('MyriadPro-LightSemiCn'),
		url('MyriadPro-LightSemiCn.eot?#iefix') format('embedded-opentype'),
		url('MyriadPro-LightSemiCn.woff') format('woff'),
		url('MyriadPro-LightSemiCn.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family: 'Myriad Pro';
	src: url('MyriadPro-BoldSemiExtIt.eot');
	src: local('Myriad Pro Bold SemiExtended Italic'), local('MyriadPro-BoldSemiExtIt'),
		url('MyriadPro-BoldSemiExtIt.eot?#iefix') format('embedded-opentype'),
		url('MyriadPro-BoldSemiExtIt.woff') format('woff'),
		url('MyriadPro-BoldSemiExtIt.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

